.subtitle {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: $primary-title-color;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}
